body {
    background-color: #bacae3;
    margin: 0;
    font-family:  'Baskervville' , serif;  
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: .5px;
    color: #223628;
}

img {
    max-width: 400px;
    max-height: 400px;
}


.navbar {
    background: #fceff3;
    display: flex;
    position: relative;
    padding: 20px 20px;
    margin: 0;
    height: 80px;
    width:100vw;
    text-align: center;
}

.title {
    height: 66px;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    font-size: 36px;
    font-weight: bold;
}

.menu{
    background: #fceff3;
    font-family:  'Playfair Display' , serif;  
    margin-top: 0;
    height: 96px;
    text-align: center;
    height: 50px;;
}
ul{
    margin-top: 0;
}

li{
    margin-top: 0;
    list-style: none;
}

.main-container{
    width: 100%;
    padding: 4%;
    background-color: #BACAE3;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-container-content{
    background-color: #F8F0E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
    text-align: center;
}

h1{
    font-family: 'Playfair Display', serif;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  width:90%;
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  margin-bottom: 10px;;
  height: 120px;
  display: inline-block;
  border : solid 2px;
}

.grid-sizer,
.grid-item { width: 20%;
    margin : 25px; }
/* 2 columns wide */


.grid-item--width2 { width:  20%; }
.grid-item--width3 { width:  30%; }

/*grid-item--height2 { height: 700px; }
.grid-item--height3 { height: 908px; }
.grid-item--height4 { height: 650px; }*/

.grid-img {
    object-fit: scale-down;
    transition: transform 1s;
}

.grid-img:hover {
    transform: scale(1.25);
    z-index: -1;
}

h4{
    display: block;
    position:relative;
    z-index: 500;
}

